<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8" />
        <title>Test</title>
    </head>
    <body>
        <% include partials/navigations.ejs%>

        <h1>Hi!</h1>
    </body>
</html>
